@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* navbar start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.logo {
    width: auto;
    height: 56px;
    object-fit: contain;
}

.nav-link {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {

    color: #000;
}

.nav-link.active {
    color: #000 !important;
    font-family: 'Poppins', sans-serif;
}

/* navbar end */
.welcome {
    text-align: center;
}

.welcome p {
    font-weight: bold;
    color: #ffffff;
    margin: 120px 0 0 0;
    font-size: 3rem;
    z-index: 2;

}

.about1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about1 h5 {
    text-align: center;
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 2px solid #646464;

}

.about5 {
    margin: 20px 480px 0 0;
}

.about1 p {
    font-size: 1.2rem;
    color: #646464;
    font-weight: 500;
    text-align: justify;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about1 ul li {
    font-size: 1.2rem;
    color: #646464;
    text-align: justify;
}

.about1 ul li span {
    font-weight: bold;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.doctors {
    position: relative;
    background-image: url(images/About\ us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    padding: 0px 0px 178px;
    margin: 82px 0 0 0;
    background-repeat: no-repeat;
}

.welcome {
    text-align: center;
}

.welcome p {
    font-weight: bold;
    color: #ffffff;
    margin: 120px 0 0 0;
    font-size: 3rem;
    z-index: 2;

}

.card {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 2px solid #80bcbd;

}

.card1 {
    padding-top: 20px;

}

.card2 {
    text-align: center;
    padding: 10px 0;
}

.card2 p {
    font-size: 1rem;
    color: #636363;
}

.messages3 {
    width: 100%;
    padding: 20px;
    background-color: #80bcbd;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
    border-radius: 10px;
}

.messages3:hover {
    color: #fff;
    background-color: #000;
}

.text8 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 20px 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.text9 {
    display: block;
    width: 100%;
    height: 75px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 20px 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.message10 {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    color: #000;
    background-color: #54b669;
    font-size: 20px;
    margin: 20px 0 0 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.message10:hover {
    background-color: #000;
    color: #fff;
}

.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    padding: 21px 22px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services p {
    text-align: center;
    font-size: 3rem;
    margin: 25px 0;
    color: #636363;
    font-weight: bold;
    border-bottom: 2px solid #000;
}



.services10 p {
    font-size: 3rem;
    color: #103f83;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}


/* footer start */
.india {
    padding: 50px 20px;
    font-family: 'Roboto', sans-serif;
}

.swift {
    width: 213px;
    height: 50px;
    object-fit: contain;
    font-family: 'Roboto', sans-serif;
}

.india p {
    font-size: 1.2rem;
    color: #636363;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.india1 {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.india1 h4 {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.india1 a {
    font-size: 1.2rem;
    color: #000;
    margin: 5px 0;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.india1 a:hover {
    color: rgb(184, 184, 184);
}

.india2 {
    padding: 50px 20px 1px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.phone {
    margin: 10px 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.phone i {
    color: #000;
    margin: 0 10px 0 0;

}



.phone span {
    font-size: 1rem;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.phone a {
    font-size: 1rem;
    color: #000;
    margin: 5px 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.phone a:hover {
    color: blue;
}

.phone span {
    font-size: 1rem;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.design p {
    font-size: 1.3rem;
    color: #000;
    border-top: 1px solid #000;
    margin: 10px 0 0 0;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/* footer end */
@media (max-width:576px) {
    .design p {
        font-size: 1rem;
    }

    .about1 h5 {
        font-size: 1.5rem;
    }

    /* footer start */
    .india {
        padding: 31px 0 5px 0;
    }

    .swift {
        margin: 0 0 0 -28px;
    }

    .india1 {
        padding: 7px 6px;
    }

    .india2 {
        padding: 5px 2px 9px;
    }

    /* footer end */
    .about5 {
        margin: 0;
    }

    .welcome p {
        margin: 160px 0 0 0;
    }

    .display {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .about5 {
        margin: 0;
    }

    .welcome p {
        margin: 160px 0 0 0;
    }

    .display {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}